{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Pruebas en Symfony</h1>
        <ul>
            <li>
              <a href="{{ path('validaciones_homepage') }}">Validaciones</a>
            </li>
            <li>
              <a href="{{ path('forms_homepage') }}">Formularios</a>
            </li>
            <li>
              <a href="{{ path('permisos_homepage') }}">Permisos</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
