{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar domicilio</h1>
    <hr/>

    {% embed '@Forms/Ejemplo2/form.html.twig' with { 'form': edit_form } %}

        {% block botones %}
            <div>
                {{ parent() }}
                <input class="btn btn-warning" type="submit" value="Editar" />
            </div>
            <br/>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        {% endblock %}



    {% endembed %} 

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/forms/js/ejemplo2.js') }}"></script>

{% endblock %}
