{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nuevo domicilio</h1>
    <hr/>

    {% embed '@Forms/Ejemplo2/form.html.twig' %}
        
        {% block botones %}
            {{ parent() }}
            <input class="btn btn-primary" type="submit" value="Create" />
        {% endblock %}
        
    {% endembed %}    
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/forms/js/ejemplo2.js') }}"></script>
    
{% endblock %}